In [1]:
print("Hello World")

Hello World

Hello People

You can add a story here

In [1]:
print('Hello')

Hello

In [2]:
print(Hello World)

SyntaxError: invalid syntax (<ipython-input-2-10cb182148e3>, line 1)

In [3]:
print('It's a Hot day')

SyntaxError: invalid syntax (<ipython-input-3-e0545c61c6bc>, line 1)

In [6]:
print('It\'s a Hot day')  # Escape Sequence

It's a Hot day

In [5]:
print("It's a hot day")

It's a hot day

In [8]:
'''
This is  basically a docstring



'''

'\nThis is  basically a docstring\n\n\n\n'

In [9]:
print("Python for beginners")

Python for beginners

In [46]:
course = "Python for beginners"

In [12]:
print(course)

Python for beginners

In [13]:
print(type(course))

<class 'str'>

In [15]:
course2 = "ML for Beginners"

In [16]:
course
course2

'ML for Beginners'

In [17]:
print("course")
print("course2")

course
course2

In [18]:
print(course)
print(course2)

Python for beginners
ML for Beginners

In [19]:
type(course)

str

In [1]:
num = 24

In [2]:
type(num)

int

In [3]:
print(type(num))

<class 'int'>

In [6]:
num1 = "24"

In [7]:
print(type(num1))

<class 'str'>

In [8]:
type("28")

str

In [9]:
type(28)

int

In [10]:
num2 = 12.6

In [11]:
type(num2)

float

In [12]:
type(8.9)

float

In [13]:
logic1 = True

In [14]:
logic1

True

In [15]:
type(logic1)

bool

In [16]:
str1 = "Hello"
str2 = "World"

In [17]:
str3 = str1 + str2

In [18]:
str3

'HelloWorld'

In [19]:
str3 = str1 +   str2

In [20]:
str3

'HelloWorld'

In [21]:
str3 = str1 + " " + str2

In [22]:
str3

'Hello World'

In [24]:
num = 24

In [25]:
num

24

In [26]:
str4 = str1 + " " + num

TypeError: can only concatenate str (not "int") to str

In [28]:
str2 = int(str2)

ValueError: invalid literal for int() with base 10: 'World'

In [29]:
num1 = "27"

In [30]:
type(num1)

str

In [31]:
str2 = int(num1)

In [33]:
type(str2)

int

In [34]:
str2 = bool(num1)

In [35]:
str2

True

In [36]:
str4 = str1 + " " + num

TypeError: can only concatenate str (not "int") to str

In [37]:
num = str(num)

In [38]:
str4 = str1 + " " + num

In [39]:
str4

'Hello 24'

In [40]:
num = 23

In [41]:
str4 = str1 + " " + str(num)

In [42]:
str4

'Hello 23'

In [43]:
4 > 7

False

In [44]:
4 < 7

True

String Slicing

In [47]:
course

'Python for beginners'

In [48]:
course[0]

'P'

In [49]:
course[7]

'f'

In [50]:
course[6]

' '

In [51]:
print(course[2])

t

In [52]:
course[0:5]

'Pytho'

In [53]:
course[:5]

'Pytho'

In [54]:
course[:6]

'Python'

In [55]:
course[:]

'Python for beginners'

In [56]:
course[7:]

'for beginners'

In [57]:
course[2:11:2]

'to o '

In [58]:
course[-1]

's'

In [60]:
course[-5:-1]

'nner'

In [62]:
course[::-1]

'srennigeb rof nohtyP'

In [64]:
course[::-2]

'sengbrfnhy'

In [65]:
"P" in course

True

In [66]:
"p" in course

False

In [67]:
"Python" in course

True

In [68]:
course

'Python for beginners'

In [69]:
course.find("P")

0

In [70]:
course.find("p")

-1

In [71]:
course.find("for")

7

In [72]:
course.find("n")

5

Assignment:
1. How to find index of the specific ch

In [73]:
course.lower()

'python for beginners'

In [74]:
course

'Python for beginners'

In [75]:
course.upper()

'PYTHON FOR BEGINNERS'

In [76]:
course.title()

'Python For Beginners'

In [77]:
course

'Python for beginners'

In [78]:
course.capitalize()

'Python for beginners'

In [79]:
course.replace("for", "to")

'Python to beginners'

In [80]:
course = 'Python for for beginners'

In [81]:
course.replace("for", "to")

'Python to to beginners'

In [82]:
course

'Python for for beginners'

In [83]:
course.replace("for", "to", 1)

'Python to for beginners'

In [84]:
course.replace("for", "to", 2)

'Python to to beginners'

In [85]:
course.replace("for", "to", 3)

'Python to to beginners'

Assignment:
2. "Python for to beginners"

In [86]:
course

'Python for for beginners'

In [87]:
course

'Python for for beginners'

In [88]:
len(course)

24

In [89]:
course.split()

['Python', 'for', 'for', 'beginners']

In [90]:
len(course.split())

4

In [91]:
num = 24

In [92]:
name = "Liqzan"

In [93]:
name

'Liqzan'

In [94]:
name1 = input()

 Manna

In [95]:
name1

'Manna'

In [97]:
name1 = input("Please enter your name: ")

Please enter your name:  Tamanna

In [98]:
name1

'Tamanna'

In [99]:
name1 = input("Please enter your name: \n")

Please enter your name:
 Pratik

In [100]:
name1

'Pratik'

In [101]:
weight = input("Please enter your weight :")

Please enter your weight : 25

In [102]:
weight

'25'

In [103]:
weight/0.1

TypeError: unsupported operand type(s) for /: 'str' and 'float'

In [104]:
type(weight)

str

In [105]:
int(weight)

25

In [106]:
weight = int(input("Please enter your weight :"))

Please enter your weight : 34

In [108]:
34/10

3.4

Req:
1. Take the user name
2. Take the user's weight in KGs
3. Reply the user with their weights in pound (lbs)

In [109]:
name = input("Please enter your name :")
weight = int(input("Please enter your weight in KGs"))
weight = weight * 2.20467
print(weight)

Please enter your name : Liqzan
Please enter your weight in KGs 25

55.11675

In [110]:
print("Dear " + name + ", your weight is " + weight + " in lbs")

TypeError: can only concatenate str (not "float") to str

In [111]:
print("Dear " + name + ", your weight is " + str(weight) + " in lbs")

Dear Liqzan, your weight is 55.11675 in lbs

In [115]:
print("Dear", name,", your weight is", weight, "in lbs")

Dear Liqzan , your weight is 55.11675 in lbs

In [116]:
print("Dear name, your weight is weight in lbs")

Dear name, your weight is weight in lbs

In [117]:
print(f"Dear {name}, your weight is {weight} in lbs")

Dear Liqzan, your weight is 55.11675 in lbs

In [118]:
print("a","b","c")

a b c

In [120]:
print("a","b","c", sep="")

abc

In [121]:
print("a","b","c", sep="*")

a*b*c

In [122]:
print("a","b","c", sep="-")

a-b-c

In [123]:
print("a","b","c", sep="\n")

a
b
c

In [124]:
print("Welcome to")
print("the session")

Welcome to
the session

In [125]:
print("Welcome to", end=" ") 
print("the session")

Welcome to the session

In [128]:
print("Welcome to", end=" ") 
print("the session")
print("New line")

Welcome to the session
New line

In [136]:
x = 100
y = 150

In [130]:
x = y
y = x

In [131]:
x

150

In [132]:
y

150

In [137]:
x, y = y, x

In [138]:
x

150

In [139]:
y

100

In [2]:
a = 20
b = 20

In [141]:
a is b

True

In [142]:
a == b

True

In [143]:
id(a)

140067246499552

In [144]:
id = 7

In [145]:
id

7

In [4]:
id(a)

139706550576864

In [3]:
a

20

In [5]:
id(b)

139706550576864

In [6]:
c = 20

In [7]:
id(c)

139706550576864

In [8]:
q = "hello"

In [9]:
w = "hello"

In [10]:
id(q)

139706308622704

In [11]:
id(w)

139706308622704

In [12]:
a = 10

In [13]:
b = 1.5

In [15]:
c = a + b

In [16]:
type(c)

float

In [17]:
d = True

In [18]:
type(d)

bool

In [19]:
e = a + d

In [20]:
type(e)

int

In [21]:
e

11

In [23]:
1new = 20

SyntaxError: invalid syntax (<ipython-input-23-1430df64acf0>, line 1)

In [24]:
new1 = 20

In [26]:
a = 2

In [27]:
bin(a)

'0b10'

In [28]:
bin(20)

'0b10100'

In [29]:
oct(20)

'0o24'

In [30]:
hex(20)

'0x14'

In [31]:
q = "1001"

In [32]:
type(q)

str

In [34]:
qw = int(q)

In [35]:
type(qw)

int

In [36]:
int(q, 10)

1001

In [37]:
int(q, 2)

9

In [38]:
w = "1210"

In [40]:
int(w, 2)

ValueError: invalid literal for int() with base 2: '1210'

In [41]:
int(w, 8)

648

In [42]:
h = "2A"

In [43]:
int(h, 16)

42

Containers
1. List
2. Tuple
3. Dict
4. Set

In [46]:
q = [23]

In [47]:
type(q)

list

In [48]:
l = []

In [49]:
type(l)

list

In [50]:
list1 = [10,20,30,40]

In [51]:
list1

[10, 20, 30, 40]

In [52]:
list1 = [12, 12.7, 11, 10.8]

In [53]:
list1

[12, 12.7, 11, 10.8]

In [54]:
list2 = [12, 12.9, "ABC", True]

In [55]:
type(list2)

list

In [56]:
list3 = list1 + list2

In [57]:
list3

[12, 12.7, 11, 10.8, 12, 12.9, 'ABC', True]

In [58]:
list4 = list1 + 20

TypeError: can only concatenate list (not "int") to list

list5 = [0,1,2,3,.....20]

In [59]:
range(5)

range(0, 5)

In [60]:
range(5, 20)

range(5, 20)

In [62]:
range(0,20, 2)

range(0, 20, 2)

In [63]:
list5 = list(range(0,21))

In [64]:
list5

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [65]:
list6 = list(range(0,21,2))

In [66]:
list6

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [67]:
char1 = list("Hello World")

In [68]:
char1

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

In [69]:
type(char1)

list

In [70]:
char1[4]

'o'

In [71]:
char1[-1]

'd'

In [72]:
char1[2:6]

['l', 'l', 'o', ' ']

In [73]:
char1[2:6:2]

['l', 'o']

In [74]:
char1[:6]

['H', 'e', 'l', 'l', 'o', ' ']

In [75]:
char1[6:]

['W', 'o', 'r', 'l', 'd']

In [76]:
char1[:]

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']